<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050476244983-g82dh4hq0bi9hf8sd6ae7c3f2e83gqkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050476244983-g82dh4hq0bi9hf8sd6ae7c3f2e83gqkr</string>
	<key>API_KEY</key>
	<string>AIzaSyBr_enqhmteil_Rfnxb7kgs5iG1KMqc3hc</string>
	<key>GCM_SENDER_ID</key>
	<string>1050476244983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwappDev.ShotListPro</string>
	<key>PROJECT_ID</key>
	<string>shotlistpro</string>
	<key>STORAGE_BUCKET</key>
	<string>shotlistpro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050476244983:ios:efac65f1abe541b98e48f2</string>
	<key>DATABASE_URL</key>
	<string>https://shotlistpro.firebaseio.com</string>
</dict>
</plist>